version: "{{ optional_tasks.compose_file.composeVersion }}"
services:
{% if optional_tasks.compose_file.containers.radarr.enabled is true %}
  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/radarr:/config
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/data:/data
      - "/etc/localtime:/etc/localtime:ro"
    ports:
      - "7878:7878"
    mem_limit: {{ optional_tasks.compose_file.containers.radarr.memoryLimit }}
    networks:
    - media
    restart: {{ optional_tasks.compose_file.restartPolicy }}
    environment:
      - PUID={{ optional_tasks.compose_file.environment.PUID }}
      - PGID={{ optional_tasks.compose_file.environment.PGID }}
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
{% endif %}
{% if optional_tasks.compose_file.containers.sonarr.enabled is true %}
  sonarr:
    image: lscr.io/linuxserver/sonarr
    container_name: sonarr
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/sonarr:/config
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/data:/data
      - "/etc/localtime:/etc/localtime:ro"
    ports:
        - "8989:8989"
    mem_limit: {{ optional_tasks.compose_file.containers.sonarr.memoryLimit }}
    networks:
    - media
    restart: {{ optional_tasks.compose_file.restartPolicy }}
    environment:
      - PUID={{ optional_tasks.compose_file.environment.PUID }}
      - PGID={{ optional_tasks.compose_file.environment.PGID }}
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
{% endif %}
{% if optional_tasks.compose_file.containers.jackett.enabled is true %}
  jackett:
    image: lscr.io/linuxserver/jackett
    container_name: jackett
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/jackett:/config
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/data:/data
      - "/etc/localtime:/etc/localtime:ro"
    ports:
      - "9117:9117"
    mem_limit: {{ optional_tasks.compose_file.containers.jackett.memoryLimit }}
    networks:
    - media
    environment:
      - PUID={{ optional_tasks.compose_file.environment.PUID }}
      - PGID={{ optional_tasks.compose_file.environment.PGID }}
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
    restart: {{ optional_tasks.compose_file.restartPolicy }}
{% endif %}
{% if optional_tasks.compose_file.containers.transmission.enabled is true %}
  transmission:
    image: lscr.io/linuxserver/transmission
    container_name: transmission
    environment:
      - PUID={{ optional_tasks.compose_file.environment.PUID }}
      - PGID={{ optional_tasks.compose_file.environment.PGID }}
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
      - UMASK_SET=002
{% if optional_tasks.compose_file.containers.transmission.flood.enabled is true %}
      - TRANSMISSION_WEB_HOME=/flood-for-transmission/
{% endif %}
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/transmission:/config
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/data/tv:/data/torrents/tv
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/data/music:/data/torrents/music
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/data/movies:/data/torrents/movies
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/data/downloads:/data/torrents/downloads
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    mem_limit: {{ optional_tasks.compose_file.containers.transmission.memoryLimit }}
    networks:
    - media
    restart: {{ optional_tasks.compose_file.restartPolicy }}
{% endif %}
{% if optional_tasks.compose_file.containers.plex.enabled is true %}
  plex:
    image: plexinc/pms-docker
    container_name: plex
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/plex:/config
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/data:/data
    hostname: {{ optional_tasks.compose_file.environment.PLEX_HOSTNAME }}
    environment:
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
      - PLEX_CLAIM="{{ optional_tasks.compose_file.environment.PLEX_CLAIM }}"
      - PLEX_UID={{ optional_tasks.compose_file.environment.PUID }}
      - PLEX_GID={{ optional_tasks.compose_file.environment.PGID }}
      - ADVERTISE_IP="http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:32400/"
    ports:
    - 32400:32400
    - 3005:3005
    - 8324:8324
    - 32469:32469
    - 1900:1900/udp
    - 32410:32410/udp
    - 32412:32412/udp
    - 32413:32413/udp
    - 32414:32414/udp
    mem_limit: {{ optional_tasks.compose_file.containers.plex.memoryLimit }}
    networks:
    - media
    restart: {{ optional_tasks.compose_file.restartPolicy }}
{% endif %}
{% if optional_tasks.compose_file.containers.plex.tautulli.enabled is true %}
  tautulli:
    image: linuxserver/tautulli
    container_name: tautulli
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/tautulli/config:/config
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/tautulli/logs:/logs:ro
    ports:
      - "8181:8181"
    mem_limit: {{ optional_tasks.compose_file.containers.plex.tautulli.memoryLimit }}
    networks:
    - media
    environment:
      - PUID={{ optional_tasks.compose_file.environment.PUID }}
      - PGID={{ optional_tasks.compose_file.environment.PGID }}
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
    restart: {{ optional_tasks.compose_file.restartPolicy }}
{% endif %}
{% if optional_tasks.compose_file.containers.ombi.enabled is true %}
  ombi:
    image: lscr.io/linuxserver/ombi
    container_name: ombi
    environment:
      - PUID={{ optional_tasks.compose_file.environment.PUID }}
      - PGID={{ optional_tasks.compose_file.environment.PGID }}
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/media_stack/ombi:/config
    ports:
      - 3579:3579
    networks:
    - media
    restart: {{ optional_tasks.compose_file.restartPolicy }}
{% endif %}

networks:
  media:
    name: media
    driver: bridge
